<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.firebaseanalyticsplugin" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>FirebaseAnalyticsPlugin</name>

    <js-module name="FirebaseAnalyticsPlugin" src="www/FirebaseAnalyticsPlugin.js">
        <clobbers target="Analytics" />
    </js-module>

    <hook type="before_plugin_install" src="scripts/configurations/installDependencies.js" />
    <hook type="before_plugin_install" src="scripts/configurations/unzipAndCopyConfigurations.js" />

    <preference name="APP_DOMAIN" default="/" />
    <preference name="APP_PATH" default="/" />

    <platform name="android">

        <hook type="after_plugin_install" src="scripts/crashlytics/android/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="scripts/crashlytics/android/before_plugin_uninstall.js" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FirebaseAnalyticsPlugin">
                <param name="android-package" value="com.outsystems.firebaseanalyticsplugin.FirebaseAnalyticsPlugin" />
            </feature>
        </config-file>

        <resource-file src="google-services.json" target="./google-services.json" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.firebase:firebase-perf:17.0.0" />
        <framework src="com.google.firebase:firebase-analytics:16.5.0" />
        
        <source-file src="src/android/FirebaseAnalyticsPlugin.java" target-dir="src/com/outsystems/firebaseanalyticsplugin/FirebaseAnalyticsPlugin" />
        
    
    </platform>

    <platform name="ios">

        <hook type="after_plugin_install" src="scripts/crashlytics/ios/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="scripts/crashlytics/ios/before_plugin_uninstall.js" />

        <config-file parent="/*" target="config.xml">
            <feature name="FirebaseAnalyticsPlugin">
                <param name="ios-package" value="FirebaseAnalyticsPlugin" />
            </feature>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
            <string>development</string>
        </config-file>
        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
            <string>production</string>
        </config-file>

        <resource-file src="GoogleService-Info.plist" target="./GoogleService-Info.plist" />

        <framework src="Fabric" type="podspec" spec="~> 1.9" />
        <framework src="Crashlytics" type="podspec" spec="~> 3.12" />
        <framework src="FirebaseAnalytics" type="podspec" spec="~> 4.2" />
        <framework src="FirebasePerformance" type="podspec" spec="~> 1.1.3" />

        <source-file src="src/ios/FirebaseAnalyticsPlugin.m" />
        <source-file src="src/ios/FirebaseAnalyticsPlugin.h" />

        <header-file src="src/ios/AppDelegate+FirebaseAnalyticsPlugin.h" />
        <source-file src="src/ios/AppDelegate+FirebaseAnalyticsPlugin.m" />

    </platform>

</plugin>